.gallery-content {
	overflow: hidden;
}
.product-desc input[type='radio'] {
    display: none;
}

.product-desc input[type="radio"]:checked + img {
    opacity: 1;
    visibility: visible;
}

.slider-thumb img {
    opacity: 0;
    visibility: hidden;
    float: left;
    width: 100%;
    height: 0;
    -webkit-object-fit: scale-down;
    -moz-object-fit: scale-down;
    -ms-object-fit: scale-down;
    object-fit: scale-down;
}

/* slider*/

.frame {
    width: 555px;
    height: 658px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.frame div {
    margin-left: 0;
    width: 120px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    width: 2220px;
    overflow: hidden;
    float: left;
    margin-top: 557px;
    padding-left: 30px;
}

.frame img.large {
	position: absolute;
	width: auto;
	height: 550px;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-ms-box-sizing: content-box !important;
	box-sizing: content-box !important;
	-webkit-object-fit: scale-down;
	-moz-object-fit: scale-down;
	-ms-object-fit: scale-down;
	object-fit: scale-down;
    border: 1px solid #eee;
}

.frame input {
    position: relative;
    left: 0;
    display: none;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.frame label.thumb {
    display: block;
    float: left;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.frame label.thumb img {
    height: 106px;
    width: 127px;
    float: left;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-object-fit: scale-down;
    -moz-object-fit: scale-down;
    -ms-object-fit: scale-down;
    object-fit: scale-down;
}

.frame label.left {
    position: absolute;
    left: 0;
    bottom: 0px;
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 110px;
    padding-right: 10px;
    text-align: center;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    line-height: 20px;
    background: #fff;
}

.frame label.right {
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 0;
    cursor: pointer;
    width: 20px;
    text-align: center;
    height: 110px;
    padding-left: 10px;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    line-height: 20px;
    background: #fff;
}

.frame label.left img,
.frame label.right img {
    margin-top: 45px;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.frame label.one,

.frame label.two,

.frame label.three,

.frame label.four,

.frame label.five,

.frame label.six {

    z-index: 90;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push1:checked ~ label.six,

.frame input#push3:checked ~ label.one,

.frame input#push5:checked ~ label.two,

.frame input#push7:checked ~ label.three,

.frame input#push9:checked ~ label.four,

.frame input#push11:checked ~ label.five,

.frame input#push2:checked ~ label.two,

.frame input#push4:checked ~ label.three,

.frame input#push6:checked ~ label.four,

.frame input#push8:checked ~ label.five,

.frame input#push10:checked ~ label.six,

.frame input#push12:checked ~ label.one {

    z-index: 100;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}




.frame input#push1:checked ~ div {

    margin-left: -508px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push3:checked ~ div {

    margin-left: 0px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push5:checked ~ div {

    margin-left: -508px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push7:checked ~ div {

    margin-left: -1016px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}

.frame input#push9:checked ~ div {

    margin-left: -1524px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push11:checked ~ div {

    margin-left: -1016px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push2:checked ~ div {

    margin-left: -508px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push4:checked ~ div {

    margin-left: -1016px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push6:checked ~ div {

    margin-left: -1524px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push8:checked ~ div {
    margin-left: -1016px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}

.frame input#push10:checked ~ div {

    margin-left: -508px;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}



.frame input#push12:checked ~ div {

    margin-left: 0;

    -webkit-box-sizing: content-box !important;

    -moz-box-sizing: content-box !important;

    -ms-box-sizing: content-box !important;

    box-sizing: content-box !important;

}

.frame input#pic1:checked ~ .lab1,
.frame input#pic2:checked ~ .lab2,
.frame input#pic3:checked ~ .lab3,
.frame input#pic4:checked ~ .lab4,
.frame input#pic5:checked ~ .lab5,
.frame input#pic6:checked ~ .lab6,
.frame input#pic7:checked ~ .lab7,
.frame input#pic8:checked ~ .lab8,
.frame input#pic9:checked ~ .lab9,
.frame input#pic10:checked ~ .lab10,
.frame input#pic11:checked ~ .lab11,
.frame input#pic12:checked ~ .lab12,
.frame input#pic13:checked ~ .lab13,
.frame input#pic14:checked ~ .lab14,
.frame input#pic15:checked ~ .lab15,
.frame input#pic16:checked ~ .lab16,
.frame input#pic17:checked ~ .lab17,
.frame input#pic18:checked ~ .lab18,
.frame input#pic19:checked ~ .lab19,
.frame input#pic20:checked ~ .lab20 {
    opacity: 0.8;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    pointer-events: none;
}

.frame input#pic1:checked ~ img.p1,
.frame input#pic2:checked ~ img.p2,
.frame input#pic3:checked ~ img.p3,
.frame input#pic4:checked ~ img.p4,
.frame input#pic5:checked ~ img.p5,
.frame input#pic6:checked ~ img.p6,
.frame input#pic7:checked ~ img.p7,
.frame input#pic8:checked ~ img.p8,
.frame input#pic9:checked ~ img.p9,
.frame input#pic10:checked ~ img.p10,
.frame input#pic11:checked ~ img.p11,
.frame input#pic12:checked ~ img.p12,
.frame input#pic13:checked ~ img.p13,
.frame input#pic14:checked ~ img.p14,
.frame input#pic15:checked ~ img.p15,
.frame input#pic16:checked ~ img.p16,
.frame input#pic17:checked ~ img.p17,
.frame input#pic18:checked ~ img.p18,
.frame input#pic19:checked ~ img.p19,
.frame input#pic20:checked ~ img.p20 {
    opacity: 1;
    z-index: 100;
    backface-visibility: hidden;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
